.14_250 { 
	overflow:hidden;
}.e14_250 { 
	background-color:rgba(203.00000309944153, 229.00000154972076, 186.0000041127205, 1);
	width:1280px;
	height:1440px;
	position:absolute;
}.e14_251 { 
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:1300px;
}.e14_252 { 
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_253 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e55_230 { 
	width:250px;
	height:79px;
	position:absolute;
	left:37px;
	top:42px;
}.e55_228 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:250px;
	height:24px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e55_229 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:239px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e55_42 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:228px;
	height:24px;
	position:absolute;
	left:0px;
	top:55px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_254 { 
	width:126px;
	height:17px;
	position:absolute;
	left:575px;
	top:104px;
}.e14_255 { 
	color:rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
	width:126px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e14_256 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:61px;
	height:24px;
	position:absolute;
	left:330px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_257 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:63px;
	height:24px;
	position:absolute;
	left:505px;
	top:20px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_258 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:82px;
	height:24px;
	position:absolute;
	left:682px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_259 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:72px;
	height:24px;
	position:absolute;
	left:878px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_260 { 
	width:155px;
	height:44.11710739135742px;
	position:absolute;
	left:560px;
	top:60px;
}.e14_261 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_261_3708_1171 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_261_3708_1172 { 
	background-color:rgba(0, 0, 0, 1);
	width:20.945945739746094px;
	height:22.058486938476562px;
	position:absolute;
	left:10.472972869873047px;
	top:11.029243469238281px;
}.e14_262 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:75.40540313720703px;
	top:0.00010798794392030686px;
}.ei14_262_3708_1186 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_262_3708_1187 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.567566871643066px;
	height:25.367259979248047px;
	position:absolute;
	left:14.662161827087402px;
	top:8.823394775390625px;
}.e14_263 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:113.10810852050781px;
	top:0px;
}.ei14_263_3708_1205 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_263_3708_1206 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.89864730834961px;
	height:18.749713897705078px;
	position:absolute;
	left:9.425675392150879px;
	top:13.235092163085938px;
}.e14_264 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:37.702701568603516px;
	top:0px;
}.ei14_264_3708_1195 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_264_3708_1196 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.040542602539062px;
	height:16.543865203857422px;
	position:absolute;
	left:9.425675392150879px;
	top:13.786554336547852px;
}.e14_265 { 
	width:1280px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_266 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_267 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:61px;
	height:24px;
	position:absolute;
	left:571px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_268 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:63px;
	height:24px;
	position:absolute;
	left:746px;
	top:28px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_269 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:82px;
	height:24px;
	position:absolute;
	left:923px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_270 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:72px;
	height:24px;
	position:absolute;
	left:1119px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_271 { 
	width:423px;
	height:50px;
	position:absolute;
	left:31px;
	top:14px;
}.e14_272 { 
	color:rgba(0, 0, 0, 1);
	width:357px;
	height:50px;
	position:absolute;
	left:66px;
	top:0px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e14_273 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(193.8679987192154, 255, 156.40007883310318, 0) 0%,rgba(127.46445670723915, 174.25000101327896, 98.74166876077652, 1) 100%) ;
	width:59px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}.14_273 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e25_64 { 
	width:900px;
	height:433px;
	position:absolute;
	left:190px;
	top:786px;
}.e24_43 { 
	background-color:rgba(238.00000101327896, 255, 228.0000016093254, 1);
	width:900px;
	height:433px;
	position:absolute;
	left:0px;
	top:0px;
}.e24_56 { 
	width:226px;
	height:42px;
	position:absolute;
	left:624px;
	top:365px;
}.e24_54 { 
	background-color:rgba(203.00000309944153, 229.00000154972076, 186.0000041127205, 1);
	width:226px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:46.5px;
}.e24_55 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:30px;
	position:absolute;
	left:65px;
	top:6px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
}.e24_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:476px;
	height:114px;
	position:absolute;
	left:53px;
	top:293px;
}.24_53 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e24_52 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:24px;
	position:absolute;
	left:53px;
	top:265px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e24_50 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:24px;
	position:absolute;
	left:53px;
	top:188px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e24_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:303px;
	height:36px;
	position:absolute;
	left:53px;
	top:216px;
}.24_49 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e24_47 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:53px;
	top:111px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e24_46 { 
	color:rgba(0, 0, 0, 1);
	width:809px;
	height:24px;
	position:absolute;
	left:53px;
	top:69px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e24_44 { 
	color:rgba(0, 0, 0, 1);
	width:231px;
	height:36px;
	position:absolute;
	left:19px;
	top:15px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e24_48 { 
	background-color:rgba(255, 255, 255, 1);
	width:181px;
	height:36px;
	position:absolute;
	left:53px;
	top:139px;
}.24_48 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e18_311 { 
	width:900px;
	height:144px;
	position:absolute;
	left:190px;
	top:595px;
}.e18_285 { 
	background-color:rgba(238.00000101327896, 255, 228.0000016093254, 1);
	width:900px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_312 { 
	color:rgba(0, 0, 0, 1);
	width:141px;
	height:24px;
	position:absolute;
	left:95px;
	top:71px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e20_314 { 
	color:rgba(0, 0, 0, 1);
	width:232px;
	height:24px;
	position:absolute;
	left:53px;
	top:95px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_313 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:24px;
	position:absolute;
	left:552px;
	top:71px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e20_318 { 
	color:rgba(0, 0, 0, 1);
	width:237px;
	height:24px;
	position:absolute;
	left:505px;
	top:95px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_291 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:36px;
	position:absolute;
	left:19px;
	top:12px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e25_65 { 
	width:900px;
	height:322px;
	position:absolute;
	left:190px;
	top:235px;
}.e18_284 { 
	background-color:rgba(238.14661234617233, 255, 227.8000259399414, 1);
	width:900px;
	height:322px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_294 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:24px;
	position:absolute;
	left:512px;
	top:54px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_295 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:24px;
	position:absolute;
	left:716px;
	top:54px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_293 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:24px;
	position:absolute;
	left:305px;
	top:54px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_299 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:24px;
	position:absolute;
	left:126px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_300 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:24px;
	position:absolute;
	left:121px;
	top:175px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_302 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:24px;
	position:absolute;
	left:287px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_303 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:24px;
	position:absolute;
	left:285px;
	top:175px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_304 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:24px;
	position:absolute;
	left:285px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_305 { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:24px;
	position:absolute;
	left:493px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_306 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:24px;
	position:absolute;
	left:493px;
	top:175px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_307 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:24px;
	position:absolute;
	left:494px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_308 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:24px;
	position:absolute;
	left:689px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_309 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:24px;
	position:absolute;
	left:689px;
	top:175px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_310 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:24px;
	position:absolute;
	left:689px;
	top:237px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_301 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:24px;
	position:absolute;
	left:118px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e18_286 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:36px;
	position:absolute;
	left:19px;
	top:8px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e14_274 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:36px;
	position:absolute;
	left:100px;
	top:156px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e18_289 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:1261px;
}.e24_42 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:760px;
}.e18_287 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:205px;
}.e18_288 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:577px;
}