.14_93 { 
	overflow:hidden;
}.e14_93 { 
	background-color:rgba(203.00000309944153, 229.00000154972076, 186.0000041127205, 1);
	width:1280px;
	height:1609px;
	position:absolute;
}.e48_103 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:205px;
}.e50_111 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:121px;
	top:442px;
}.e50_114 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:114px;
	top:735px;
}.e51_121 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:114px;
	top:1067px;
}.e52_160 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:100px;
	top:1439px;
}.e14_130 { 
	width:1280px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_131 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_132 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:61px;
	height:24px;
	position:absolute;
	left:571px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_133 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:63px;
	height:24px;
	position:absolute;
	left:746px;
	top:28px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_134 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:82px;
	height:24px;
	position:absolute;
	left:923px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_135 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:72px;
	height:24px;
	position:absolute;
	left:1119px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e52_164 { 
	width:423px;
	height:50px;
	position:absolute;
	left:34px;
	top:14px;
}.e52_165 { 
	color:rgba(0, 0, 0, 1);
	width:357px;
	height:50px;
	position:absolute;
	left:66px;
	top:0px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e52_166 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(193.8679987192154, 255, 156.40007883310318, 0) 0%,rgba(127.46445670723915, 174.25000101327896, 98.74166876077652, 1) 100%) ;
	width:59px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}.52_166 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e14_112 { 
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:1469px;
}.e14_113 { 
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_114 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_115 { 
	width:126px;
	height:17px;
	position:absolute;
	left:575px;
	top:104px;
}.e14_116 { 
	color:rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
	width:126px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e14_117 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:61px;
	height:24px;
	position:absolute;
	left:330px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_118 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:63px;
	height:24px;
	position:absolute;
	left:505px;
	top:20px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_119 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:82px;
	height:24px;
	position:absolute;
	left:682px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_120 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:72px;
	height:24px;
	position:absolute;
	left:878px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_121 { 
	width:155px;
	height:44.11710739135742px;
	position:absolute;
	left:563px;
	top:60px;
}.e14_122 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_122_3708_1171 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_122_3708_1172 { 
	background-color:rgba(0, 0, 0, 1);
	width:20.945945739746094px;
	height:22.058486938476562px;
	position:absolute;
	left:10.472972869873047px;
	top:11.029243469238281px;
}.e14_123 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:75.40540313720703px;
	top:0.00010798794392030686px;
}.ei14_123_3708_1186 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_123_3708_1187 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.567566871643066px;
	height:25.367259979248047px;
	position:absolute;
	left:14.662161827087402px;
	top:8.823394775390625px;
}.e14_124 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:113.10810852050781px;
	top:0px;
}.ei14_124_3708_1205 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_124_3708_1206 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.89864730834961px;
	height:18.749713897705078px;
	position:absolute;
	left:9.425675392150879px;
	top:13.235092163085938px;
}.e14_125 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:37.702701568603516px;
	top:0px;
}.ei14_125_3708_1195 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei14_125_3708_1196 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.040542602539062px;
	height:16.543865203857422px;
	position:absolute;
	left:9.425675392150879px;
	top:13.786554336547852px;
}.e55_239 { 
	width:250px;
	height:79px;
	position:absolute;
	left:37px;
	top:42px;
}.e55_240 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:250px;
	height:24px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e55_241 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:239px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e55_242 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:228px;
	height:24px;
	position:absolute;
	left:0px;
	top:55px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e52_199 { 
	width:982px;
	height:315px;
	position:absolute;
	left:149px;
	top:1097px;
}.e51_122 { 
	background-color:rgba(238.00000101327896, 255, 228.0000016093254, 1);
	width:982px;
	height:315px;
	position:absolute;
	left:0px;
	top:0px;
}.e51_125 { 
	color:rgba(0, 0, 0, 1);
	width:918px;
	height:233px;
	position:absolute;
	left:32px;
	top:65.5px;
	font-family:Stick No Bills;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e51_124 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:36px;
	position:absolute;
	left:406px;
	top:16.5px;
	font-family:Stick No Bills;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e52_198 { 
	width:982px;
	height:275px;
	position:absolute;
	left:145px;
	top:765px;
}.e51_116 { 
	background-color:rgba(238.00000101327896, 255, 228.0000016093254, 1);
	width:982px;
	height:275px;
	position:absolute;
	left:0px;
	top:0px;
}.e51_117 { 
	color:rgba(0, 0, 0, 1);
	width:918px;
	height:145px;
	position:absolute;
	left:33px;
	top:57px;
	font-family:Stick No Bills;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e50_113 { 
	color:rgba(0, 0, 0, 1);
	width:199px;
	height:36px;
	position:absolute;
	left:393px;
	top:8px;
	font-family:Stick No Bills;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e52_197 { 
	width:982px;
	height:236px;
	position:absolute;
	left:148px;
	top:472px;
}.e50_107 { 
	background-color:rgba(238.00000101327896, 255, 228.0000016093254, 1);
	width:982px;
	height:236px;
	position:absolute;
	left:0px;
	top:0px;
}.e50_112 { 
	color:rgba(0, 0, 0, 1);
	width:918px;
	height:145px;
	position:absolute;
	left:31px;
	top:54px;
	font-family:Stick No Bills;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e50_110 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:36px;
	position:absolute;
	left:442px;
	top:5px;
	font-family:Stick No Bills;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e52_196 { 
	width:982px;
	height:180px;
	position:absolute;
	left:149px;
	top:235px;
}.e50_104 { 
	background-color:rgba(238.00000101327896, 255, 228.0000016093254, 1);
	width:982px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
}.e48_102 { 
	color:rgba(0, 0, 0, 1);
	width:982px;
	height:145px;
	position:absolute;
	left:0px;
	top:35px;
	font-family:Stick No Bills;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e14_150 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:36px;
	position:absolute;
	left:100px;
	top:156px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}