.14_217 { 
	overflow:hidden;
}.e14_217 { 
	background-color:rgba(203.00000309944153, 229.00000154972076, 186.0000041127205, 1);
	width:1280px;
	height:1655px;
	position:absolute;
}.e25_58 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:205px;
}.e27_94 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:364px;
}.e27_95 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:1485px;
}.e14_218 { 
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:1515px;
}.e14_219 { 
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_220 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_221 { 
	width:126px;
	height:17px;
	position:absolute;
	left:575px;
	top:104px;
}.e14_222 { 
	color:rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
	width:126px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e14_223 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:61px;
	height:24px;
	position:absolute;
	left:330px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_224 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:63px;
	height:24px;
	position:absolute;
	left:505px;
	top:20px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_225 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:82px;
	height:24px;
	position:absolute;
	left:682px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_226 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:72px;
	height:24px;
	position:absolute;
	left:878px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e27_81 { 
	width:155px;
	height:44.11710739135742px;
	position:absolute;
	left:563px;
	top:48px;
}.e27_82 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei27_82_3708_1171 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei27_82_3708_1172 { 
	background-color:rgba(0, 0, 0, 1);
	width:20.945945739746094px;
	height:22.058486938476562px;
	position:absolute;
	left:10.472972869873047px;
	top:11.029243469238281px;
}.e27_83 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:75.40540313720703px;
	top:0.00010798794392030686px;
}.ei27_83_3708_1186 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei27_83_3708_1187 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.567566871643066px;
	height:25.367259979248047px;
	position:absolute;
	left:14.662161827087402px;
	top:8.823394775390625px;
}.e27_84 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:113.10810852050781px;
	top:0px;
}.ei27_84_3708_1205 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei27_84_3708_1206 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.89864730834961px;
	height:18.749713897705078px;
	position:absolute;
	left:9.425675392150879px;
	top:13.235092163085938px;
}.e27_85 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:37.702701568603516px;
	top:0px;
}.ei27_85_3708_1195 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei27_85_3708_1196 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.040542602539062px;
	height:16.543865203857422px;
	position:absolute;
	left:9.425675392150879px;
	top:13.786554336547852px;
}.e55_231 { 
	width:250px;
	height:79px;
	position:absolute;
	left:37px;
	top:42px;
}.e55_232 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:250px;
	height:24px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e55_233 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:239px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e55_234 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:228px;
	height:24px;
	position:absolute;
	left:0px;
	top:55px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_232 { 
	width:1280px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_233 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_234 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:61px;
	height:24px;
	position:absolute;
	left:571px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_235 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:63px;
	height:24px;
	position:absolute;
	left:746px;
	top:28px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_236 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:82px;
	height:24px;
	position:absolute;
	left:923px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_237 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:72px;
	height:24px;
	position:absolute;
	left:1119px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e27_96 { 
	width:423px;
	height:50px;
	position:absolute;
	left:31px;
	top:14px;
}.e27_97 { 
	color:rgba(0, 0, 0, 1);
	width:357px;
	height:50px;
	position:absolute;
	left:66px;
	top:0px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e27_98 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(193.8679987192154, 255, 156.40007883310318, 0) 0%,rgba(127.46445670723915, 174.25000101327896, 98.74166876077652, 1) 100%) ;
	width:59px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}.27_98 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e27_100 { 
	width:1084px;
	height:1067px;
	position:absolute;
	left:98px;
	top:392px;
}.e27_99 { 
	background-color:rgba(238.00000101327896, 255, 228.0000016093254, 1);
	width:1084px;
	height:1067px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_77 { 
	width:500px;
	height:310px;
	position:absolute;
	left:27px;
	top:730px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_73 { 
	width:500px;
	height:310px;
	position:absolute;
	left:27px;
	top:380px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_69 { 
	width:500px;
	height:310px;
	position:absolute;
	left:27px;
	top:30px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_71 { 
	width:500px;
	height:310px;
	position:absolute;
	left:557px;
	top:30px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_75 { 
	width:500px;
	height:310px;
	position:absolute;
	left:557px;
	top:380px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_80 { 
	width:500px;
	height:310px;
	position:absolute;
	left:557px;
	top:730px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_101 { 
	width:900px;
	height:110px;
	position:absolute;
	left:190px;
	top:229px;
}.e25_61 { 
	background-color:rgba(238.00000101327896, 255, 228.0000016093254, 1);
	width:900px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_67 { 
	color:rgba(0, 0, 0, 1);
	width:573px;
	height:72px;
	position:absolute;
	left:164px;
	top:19px;
	font-family:Stick No Bills;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e14_241 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:36px;
	position:absolute;
	left:100px;
	top:156px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}