.3_2 { 
	overflow:hidden;
}.e3_2 { 
	background-color:rgba(202.56834626197815, 229.06171023845673, 186.30359262228012, 1);
	width:1280px;
	height:1440px;
	position:absolute;
}.e10_13 { 
	width:900px;
	height:175px;
	position:absolute;
	left:190px;
	top:1097px;
}.e6_480 { 
	background-color:rgba(255, 255, 255, 1);
	width:900px;
	height:175px;
	position:absolute;
	left:0px;
	top:0px;
}.e10_11 { 
	color:rgba(0, 0, 0, 1);
	width:297px;
	height:24px;
	position:absolute;
	left:298px;
	top:76px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e6_485 { 
	color:rgba(0, 0, 0, 1);
	width:378px;
	height:36px;
	position:absolute;
	left:254px;
	top:30px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e6_484 { 
	background-color:rgba(203.00000309944153, 229.00000154972076, 186.0000041127205, 1);
	width:318px;
	height:42px;
	position:absolute;
	left:291px;
	top:120px;
	border-radius:46.5px;
}.e10_10 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:30px;
	position:absolute;
	left:401px;
	top:126px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
}.e14_29 { 
	width:539px;
	height:378px;
	position:absolute;
	left:668px;
	top:682px;
}.e14_33 { 
	background-color:rgba(238.14661234617233, 255, 227.8000259399414, 1);
	width:539px;
	height:378px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_18 { 
	width:500px;
	height:310px;
	position:absolute;
	left:20px;
	top:48.359375px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e14_27 { 
	color:rgba(0, 0, 0, 1);
	width:383px;
	height:29px;
	position:absolute;
	left:137px;
	top:11px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e14_28 { 
	width:539px;
	height:378px;
	position:absolute;
	left:73px;
	top:648px;
}.e14_32 { 
	background-color:rgba(238.14661234617233, 255, 227.8000259399414, 1);
	width:539px;
	height:378px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_20 { 
	width:500px;
	height:310px;
	position:absolute;
	left:20px;
	top:46.31915283203125px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e14_26 { 
	color:rgba(0, 0, 0, 1);
	width:244px;
	height:26px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e14_22 { 
	width:539px;
	height:378px;
	position:absolute;
	left:668px;
	top:264px;
}.e14_34 { 
	background-color:rgba(238.14661234617233, 255, 227.8000259399414, 1);
	width:539px;
	height:378px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_14 { 
	width:500px;
	height:310px;
	position:absolute;
	left:20px;
	top:46.868896484375px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e14_15 { 
	color:rgba(0, 0, 0, 1);
	width:346px;
	height:29px;
	position:absolute;
	left:174px;
	top:10px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e14_21 { 
	width:539px;
	height:378px;
	position:absolute;
	left:73px;
	top:230px;
}.e14_35 { 
	background-color:rgba(238.14661234617233, 255, 227.8000259399414, 1);
	width:539px;
	height:378px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_478 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:32px;
	position:absolute;
	left:22px;
	top:9px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}.e14_12 { 
	width:500px;
	height:310px;
	position:absolute;
	left:20px;
	top:46px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e14_24 { 
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:1299px;
}.e14_23 { 
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_34 { 
	width:126px;
	height:17px;
	position:absolute;
	left:575px;
	top:104px;
}.e6_35 { 
	color:rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
	width:126px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}.e6_29 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:61px;
	height:24px;
	position:absolute;
	left:330px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e6_30 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:63px;
	height:24px;
	position:absolute;
	left:505px;
	top:20px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e6_31 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:82px;
	height:24px;
	position:absolute;
	left:682px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e6_32 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:72px;
	height:24px;
	position:absolute;
	left:878px;
	top:19px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e6_475 { 
	width:155px;
	height:44.11710739135742px;
	position:absolute;
	left:566px;
	top:60px;
}.e6_460 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei6_460_3708_1171 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei6_460_3708_1172 { 
	background-color:rgba(0, 0, 0, 1);
	width:20.945945739746094px;
	height:22.058486938476562px;
	position:absolute;
	left:10.472972869873047px;
	top:11.029243469238281px;
}.e6_463 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:75.40540313720703px;
	top:0.00010798794392030686px;
}.ei6_463_3708_1186 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei6_463_3708_1187 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.567566871643066px;
	height:25.367259979248047px;
	position:absolute;
	left:14.662161827087402px;
	top:8.823394775390625px;
}.e6_466 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:113.10810852050781px;
	top:0px;
}.ei6_466_3708_1205 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei6_466_3708_1206 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.89864730834961px;
	height:18.749713897705078px;
	position:absolute;
	left:9.425675392150879px;
	top:13.235092163085938px;
}.e6_469 { 
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:37.702701568603516px;
	top:0px;
}.ei6_469_3708_1195 { 
	background-color:rgba(255, 255, 255, 1);
	width:41.89189147949219px;
	height:44.116973876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei6_469_3708_1196 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.040542602539062px;
	height:16.543865203857422px;
	position:absolute;
	left:9.425675392150879px;
	top:13.786554336547852px;
}.e55_243 { 
	width:250px;
	height:79px;
	position:absolute;
	left:37px;
	top:42px;
}.e55_244 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:250px;
	height:24px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e55_245 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:239px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e55_246 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:228px;
	height:24px;
	position:absolute;
	left:0px;
	top:55px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_36 { 
	width:1280px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_24 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:61px;
	height:24px;
	position:absolute;
	left:571px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e6_25 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:63px;
	height:24px;
	position:absolute;
	left:746px;
	top:28px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e6_26 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:82px;
	height:24px;
	position:absolute;
	left:923px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e6_27 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:72px;
	height:24px;
	position:absolute;
	left:1119px;
	top:27px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
}.e14_25 { 
	width:423px;
	height:50px;
	position:absolute;
	left:34px;
	top:14px;
}.e6_4 { 
	color:rgba(0, 0, 0, 1);
	width:357px;
	height:50px;
	position:absolute;
	left:66px;
	top:0px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e6_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(193.8679987192154, 255, 156.40007883310318, 0) 0%,rgba(127.46445670723915, 174.25000101327896, 98.74166876077652, 1) 100%) ;
	width:59px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}.6_12 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e14_30 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:1082px;
}.e14_31 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:1284px;
}.e50_106 { 
	background-color:rgba(0, 0, 0, 1);
	width:1084px;
	height:3px;
	position:absolute;
	left:98px;
	top:205px;
}.e50_105 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:36px;
	position:absolute;
	left:100px;
	top:156px;
	font-family:Stick No Bills;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.100000023841858;
}